.mt-2 {
  margin-top: 0.5rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.flex-1 {
  flex: 1 1 0%
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity))
}
